# Practical Session 2: Basic Data Manipulation with Python - Titanic Project

![Some text here](https://www.encyclopedia-titanica.org/images/titanic-fp-southampton-banner1.jpg)

RMS Titanic was a British passenger liner operated by the White Star Line that sank in the North Atlantic Ocean on 15 April 1912, after striking an iceberg during her maiden voyage from Southampton to New York City.

Of the estimated 2,224 passengers and crew aboard, more than 1,500 died, making the sinking at the time one of the deadliest of a single ship and the deadliest peacetime sinking of a superliner or cruise ship to date.

We will work with real data from the first -and last- voyge of the Titanic, to discover what really happened to the people who sailed on RMS Titanic.

For this project, you should work with your team for some time, then we will share the results with the class.

You can find some more info about the people who sailed on the Titanic here:

https://www.encyclopedia-titanica.org/

Also, the Titanic data is one of the introductory competitions of Kaggle. If you feel like trying to participate you can find the data description below:

https://www.kaggle.com/c/titanic/data

## First things first - show me the data

The data we will work with comprises of information about all the people who sailed with titanic. It is given as a single comma separated values file.

In [33]:
import pandas as pd
titanic = pd.read_csv("TitanicData.csv")

Let's see what we loaded

In [34]:
titanic.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [35]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

Note that some values are null. We might need to deal with this at some point. Some columns are categorical / string etc (see the "object" ones).

## Exploration

<font color="blue">Describe the numerical columns</font>

In [36]:
# Your Code Here

<font color="blue">Make a histogram of the Age of the passengers travelling in the Titanic. Use 15 bins, and change the color of the plot to your liking.</font>

>Hint: have a look at the matplotlib's `plt.hist()` function, or the pandas' `Series.plot.hist()`

In [37]:
#Your Code Here

<font color="blue">Do the same with the fares, then find out what is the value at the 75% percentile (i.e. find the fare X that splits the titanic passengers in two parts: 75% of the passengers paid less than X and 25% paid more)</font>

>Hint: Have a look at the pandas function `Series.quantile()`

In [38]:
#Your Code Here

## Surviving the Titanic

<font color="blue">What was the chance of surviving of someone who paid more than 100 GBP for their ticket?</font>

In [39]:
# Your Code Here

<font color="blue">**Exercise:** Make a function that given a fare value of F calculates what percentage of people survived who had paid F or less. Use this function to plot the rate of survival against the fare paid for the fairs up until the 0.75 quantile (75% percentile)</font>

In [40]:
#Your Code here

## Modelling our data

<font color="blue">**Exercise:** Have a look at your plot and explain how you could model this. Then make a model, using regression and gradient descent, and use your model to predict what is the chance of survival of someone who had paid 20.5 USD</font>

---

*Your Answer Here*

---

In [41]:
# Your Code Here

## How much would it have cost me to travel first class?

<font color="blue">Add a column with the Fare value in todays GBP. take into account that 1 GBP of 1915 would be worth 114.97 GBP in 2020 (source: https://www.in2013dollars.com/uk/inflation/1915?amount=1) </font>

In [42]:
#Your Code Here

<font color="blue"> What are the key statistics for the fares in 2020 value of the different classes?</font>

>Hint: Have a look at the pandas `DataFrame.groupby()` function, and use `DataFrame.describe()` to get the key statistics

In [43]:
#Your Code Here

According to your statistics, what is the minimum price paid by someone travelling in each of the three classes? If you have done this right, you should see that there are passengers that have paid 0 in every class... This is a bit strange, and not good for our statistics. These were probably crew members.

<font color="blue">Print out the names of all passengers that paid 0 fare</font>

In [44]:
#Your Code Here

<font color="blue"> Calculate again the key statistics for the fares in 2020 value of the different classes, but this time, removing any passengers that have paid a fare of 0.</font>

In [45]:
#Your Code Here